{% extends 'base/base.html' %}

{% block content %}
{% block title %} Lista Grupos {% endblock %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for GrupoInvestigacio in object_list %}
		<tr>
			<td>{{ GrupoInvestigacio.id }}</td>
			<td>{{ GrupoInvestigacio.nombre }}</td>

			<td>
				<a class="btn btn-primary" href="{% url 'gruposinvestigacion:grupoinv_editar' GrupoInvestigacio.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'gruposinvestigacion:grupoinv_eliminar' GrupoInvestigacio.id %}">Eliminar</a>

			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de Grupos</h1>
		{% endif %}
	</tbody>
</table>
{% endblock%}